@section head{
	<script type="text/javascript" src="~/Static/Resources/_references.js"></script>
	<link rel="stylesheet" href="~/Static/Resources/site/DesignTShirt_Preview.css" />


}

<h1>@ViewBag.Title</h1>
<div class="hl"></div>
<div class="DesignInfo">
	<div class="imageShow">
		<div id="ShowEffect" class="group template">
			<script type="text/x-mustache">
			{{#items}}
			<div id="_{{GUID}}_backgroundImage" style="position: relative; background-image: url('/Static/SystemFiles/{{CurrentMaterialTypeID}}/{{CurrentMaterialID}}/{{CurrentColorCode}}/{{FileName}}'); width: {{Width}}px; height: {{Height}}px;">
				<div id="_{{GUID}}_uploadImage" class="uploadImage" style="background-image: url('/Static/UserFiles/{{UserEmail}}/{{DesignworkID}}/{{FileName}}'); width: {{getUploadWidth}}px; height: {{getUploadHeight}}px; left: {{Left}}px; top: {{Top}}px;"></div>
			</div>
			{{/items}}
			</script>
		</div>
	</div>
	<div id="ShowInfo" class="infoShow template">
		<script type="text/x-mustache">
		<div class="buy">
			<a id="buy" class="button submitButton" href="javascript:void(0);" onclick="return false;">￥{{designwork.SellingPrice}} 购买</a>
		</div>
		<h2>关于</h2>
		<div id="Description">{{Description}}</div>
		</script>
	</div>
	<div class="ui-helper-clearfix"></div>
</div>
<div id="ShowMaterialInfo" class="MaterialInfo template">
	<script type="text/x-mustache">
	<div id="MaterialDescription">{{MaterialDescription}}</div>
	</script>
</div>
<div id="BuyList">

</div>

@section scripts{
	<script type="text/javascript">
		var Data = @Html.Raw(ViewBag.Data) ;
		var DataMaterialpictures = {items: @Html.Raw(ViewBag.DataMaterialpictures) };
		var DataDesignwork = {designwork: @Html.Raw(ViewBag.DataDesignwork) };
		var DataSize = {size :@Html.Raw(ViewBag.DataSize) };
		
		$.extend(Data, DataMaterialpictures);
		$.extend(Data, DataDesignwork);
		$.extend(Data, DataSize);

		$(function ()
		{
			$.initTemplate();
			$("#ShowEffect").data("template_extend", {
				getUploadWidth: function ()
				{
					return this.UploadWidth * this.ShowScale;
				},
				getUploadHeight:function()
				{
					return  this.UploadHeight * this.ShowScale;
				}
			});

			$("#ShowEffect").render(Data);
			$("#ShowInfo").render(Data);
			$("#ShowMaterialInfo").render(Data);

			$("#buy").click(function(){
				$.ajax({
					type: "post",
					cache: false,
					url: "@Url.Action("Preview", "DesignTShirt")",
					data:
						{
							guid: Data.DesignworkID
						},
					success: function (data)
					{
						var dataobj = JSON.parse(data);
						if (dataobj.code > 0)
						{
							$('<div title="提示"><p>发布成功</p></div>').dialog({
								resizable: false,
								modal: true,
								autoOpen: true,
								buttons:
									[
										{
											text: "关闭",
											click: function ()
											{
												$(this).dialog("close");
											}
										}
									],
								close: function (event, ui)
								{
									location.href = "@Url.Action("Index", "Home")";
								}
							});
							}
							else
							{
								location.href="Preview?guid="+dataobj.msg;
							}
					},
				error: function (XMLHttpRequest, textStatus, errorThrown)
				{
					alert("服务器连接失败，请重试！");
				}
			});
			});

		});
	</script>
}