<!DOCTYPE html>
<html class="no-js">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Static/Resources/reset/css")
	@Styles.Render("~/Static/Resources/jquery-ui/css")
	@Styles.Render("~/Static/Resources/jquery.layout/css")
	@Styles.Render("~/Static/Resources/uploadify/css")
	@Styles.Render("~/Static/Resources/site/css")

	@Scripts.Render("~/Static/Resources/modernizr/js")
	@Scripts.Render("~/Static/Resources/jquery/js")
	@Scripts.Render("~/Static/Resources/jquery-ui/js")
	@Scripts.Render("~/Static/Resources/jquery.layout/js")
	@Scripts.Render("~/Static/Resources/json2/js")
	@Scripts.Render("~/Static/Resources/uploadify/js")

	@Scripts.Render("~/Static/extendjs/js")

	@RenderSection("head", required: false)
</head>
<body>
	<header>
		<div class="main_header ui-helper-clearfix">
			<div class="logo_150x40">
			</div>
			<nav class="main_nav">
				<ul>
					@if (Session[J.BusinessLogics.Basic.SessionConfig.CurrentUser] == null)
	 { 
						<li><a href="~/Home/Login">登录</a></li>
						<li><a href="~/Home/Register">注册</a></li>
	 }
	 else
	 { 
						<li><a href="~/MyInfo/MyOrders">我的订单</a></li>
						<li><a href="javascript:void(0);">我的设计</a></li>
	 }
					<li><a href="javascript:void(0);">帮助</a></li>
				</ul>
			</nav>
		</div>
		<div class="hl"></div>
	</header>
	<div class="body">
		@RenderBody()
	</div>
	<footer>
	</footer>
	@RenderSection("scripts", required: false)
</body>
</html>
