<!DOCTYPE html>
<html class="no-js">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<meta http-equiv="Content-Language" content="zh-cn" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Static/Resources/reset/css")
	@Styles.Render("~/Static/Resources/jquery-ui/css")
	@Styles.Render("~/Static/Resources/jquery.layout/css")
	@Styles.Render("~/Static/Resources/uploadify/css")
	@Styles.Render("~/Static/Resources/site/css")

	@Scripts.Render("~/Static/Resources/modernizr/js")
	@Scripts.Render("~/Static/Resources/jquery/js")
	@Scripts.Render("~/Static/Resources/jquery-ui/js")
	@Scripts.Render("~/Static/Resources/jquery.validate/js")
	@Scripts.Render("~/Static/Resources/jquery.layout/js")
	@Scripts.Render("~/Static/Resources/mustache/js")
	@Scripts.Render("~/Static/Resources/json2/js")
	@Scripts.Render("~/Static/Resources/uploadify/js")

	@Scripts.Render("~/Static/Resources/extendjs/js")


	<script type="text/javascript" src="~/Static/Resources/jquery.base64/jquery.base64.min.js"></script>


	@RenderSection("head", required: false)
</head>
<body>
	<header>
		<div class="main_header ui-helper-clearfix">
			<div class="logo_300x40">
			</div>
			<nav class="main_nav">
				<ul>
					@if (Session[J.BusinessLogics.Basic.SessionConfig.CurrentUser] == null)
	 { 
						<li> <a target="_blank" href="~/Alipay/Alipay_Login" class="button AlipayLoginButton"> </a></li>
	 }
	 else
	 { 
						<li><a href="~/MyInfo/MyOrders">我的订单</a></li>
						<li><a href="~/MyInfo/MyDesignworks">我的设计</a></li>
	 }
					<li><a href="javascript:void(0);">帮助</a></li>
				</ul>
			</nav>
		</div>
		<div class="hl"></div>
	</header>
	<div class="body">
		@RenderBody()
	</div>
	<footer style="text-align:center;">
		<span>© 2013 磊迪宇伯商贸有限公司版权所有</span><span style="margin-left:30px;">鄂ICP备13009969号-1</span>
	</footer>
	<script type="text/javascript">
		$(function ()
		{
			$("#btnLogin").click(function ()
			{
				$("#loginDialog").dialog("open");
			});

			$("#MessageDialog").dialog({
				autoOpen: false,
				modal: true,
				title: "提示",
				buttons: [{ text: "确定", click: function () { $(this).dialog("close"); } }]
			});
		});
	</script>
	@RenderSection("scripts", required: false)
	<div id="MessageDialog">
		<div id="MessageDialog_Message">
		</div>
	</div>
</body>
</html>
