<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Static/Resources/site/css")
	@Styles.Render("~/Static/Resources/jquery-ui/css")
	@Styles.Render("~/Static/Resources/jquery.layout/css")
	@Styles.Render("~/Static/Resources/uploadify/css")

	@Scripts.Render("~/Static/Resources/modernizr/js")
	@Scripts.Render("~/Static/Resources/jquery/js")
	@Scripts.Render("~/Static/Resources/jquery-ui/js")
	@Scripts.Render("~/Static/Resources/jquery.layout/js")
	@Scripts.Render("~/Static/Resources/json2/js")
	@Scripts.Render("~/Static/Resources/uploadify/js")

	@Scripts.Render("~/Static/extendjs/js")

</head>
<body>
	@RenderBody()

	@RenderSection("scripts", required: false)
</body>
</html>
